@import "mobile-desing/mobile-desing.css";

:root {
  --blue-sky: #d0d6f9;
  --blue-dark: #0b0d17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Bellefair", serif;
  scroll-behavior: smooth;
}
body {
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
