/* Home Desing */

/* Header Style */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header_nav {
  padding: 24px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 254px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5px);
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
  color: white;
  text-transform: uppercase;
  transition: 1s all ease-in;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  background-attachment: fixed;
}
.nav--animate-close {
  transition: 1s all ease-in;
  animation-name: fadeInRight;
  animation-duration: 1.2s;
  background-attachment: fixed;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.header__nav__menu {
  position: absolute;
  top: 90px;
  font-family: "Barlow Condensed", sans-serif;
  list-style: none;
}
.header__nav__menu_item {
  padding: 15px 30px;
}
.header__nav__menu_item span {
  font-weight: 700;
}
.header__nav__menu_item a {
  text-decoration: none;
  color: white;
}
/* Hamburger Icon */
.header__nav__icon {
  background: url("../assets/shared/icon-hamburger.svg");
  width: 24px;
  height: 21px;
  cursor: pointer;
}
.header__nav__logo {
  width: 40px;
  height: 40px;
}
.header__nav__logo img {
  width: 100%;
}
/* Close Menu Mobile */
#menu_icon_close {
  position: absolute;
  right: 26px;
  top: 36px;
  background: url("../assets/shared/icon-close.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  cursor: pointer;
}
.header__bio {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 327px;
  height: 276px;
}
.header__bio__title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--blue-sky);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.7px;
  font-family: "Barlow Condensed", sans-serif;
}
.header__bio__title span {
  font-size: 8rem;
  line-height: 10rem;
  color: white;
  font-family: "Bellefair", serif;
  letter-spacing: 0;
}
.header__bio__info {
  color: var(--blue-sky);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: "Barlow", sans-serif;
}
/* Main  Style*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.main__explore {
  width: 150px;
  height: 150px;
}
.main__explore__button {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  outline: none;
  font-family: "Bellefair", serif;
  letter-spacing: 1.25px;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: var(--blue-dark);
  text-align: center;
}

/* Detination */

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0 24px;
  margin-bottom: 58px;
}
.main__container__title {
  font-size: 1.6rem;
  letter-spacing: 2.7px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.main__container__title span {
  opacity: 0.2;
}
.main__container__destination {
  width: 259px;
  height: 259px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container__destination img {
  width: 170px;
  height: 170px;
}
.main__menu__destination {
  display: flex;

  list-style: none;
}
.main__menu__destination__item {
  padding: 10px 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2.3px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.main__menu__destination__item--active {
  border-bottom: 2px solid white;
}
.main__menu__destination__item a {
  text-decoration: none;
  color: white;
}
.main__container__name {
  font-size: 5.6rem;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}
.main__container__info {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  font-family: "Barlow", sans-serif;
  line-height: 2.5rem;
  color: var(--blue-sky);
}
.main__container--border {
  margin-top: 32px;
  margin-bottom: 32px;
  height: 1px;
  width: 100%;
  background-color: var(--blue-sky);
}
.main__container__data {
  display: flex;
  flex-direction: column;
}
.main__container__data__distance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.main__container__data__distance__title {
  font-size: 1.4rem;
  color: var(--blue-sky);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.36px;
}
.main__container__data__distance__info {
  font-size: 2.8rem;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.main__container__data__time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}
.main__container__data__time__title {
  font-size: 1.4rem;
  color: var(--blue-sky);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.36px;
  text-transform: uppercase;
}
.main__container__data__time__info {
  font-size: 2.8rem;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
