/* Header Style */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header_nav {
  padding: 24px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav {
  display: none;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 254px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5px);
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
  color: white;
  text-transform: uppercase;
}

.header__nav__menu {
  position: absolute;
  top: 90px;
  font-family: "Barlow Condensed", sans-serif;
  list-style: none;
}
.header__nav__menu_item {
  padding: 15px 30px;
}
.header__nav__menu_item span {
  font-weight: 700;
}
/* Hamburger Icon */
.header__nav__icon {
  background: url("../assets/shared/icon-hamburger.svg");
  width: 24px;
  height: 21px;
}
.header__nav__logo {
  width: 40px;
  height: 40px;
}
.header__nav__logo img {
  width: 100%;
}
